*
	margin: 0
	padding: 0
	box-sizing: border-box
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	text-decoration: none
	list-style: none
	outline: 0

body
	font-family: 'Open Sans', sans-serif
	font-size: 16px

.contenedor
	width: 90%
	max-width: 1000px
	margin: auto
	overflow: hidden

.titulo
	font-size: 2.5em
	font-weight: 300
	text-align: center
	margin-bottom: 40px

.mostrar
	display: flex

header
	width: 100%
	background: url('../img/bgFull.png') #281a0c
	background-size: cover
	background-attachment: fixed
	background-position: center 0
	.contenedor
		position: relative
		height: 88vh

.menu
	width: 90%
	margin: auto
	display: flex
	justify-content: flex-end
	flex-wrap: wrap
	a
		color: white
		font-size: 20px
		font-weight: 300
		margin: 20px 10px
		padding: 10px 15px
		border-bottom: 2px solid transparent
		position: relative

.menu a:hover
	border-bottom: 2px solid white
	transition: ease-in-out 0.2s

.textos
	width: 100%
	color: white
	position: absolute
	top: 50%
	.nombre
		font-size: 3.2em
		font-weight: 600
		span
			font-weight: 300
	h3
		font-weight: 300
		font-size: 1.5em
		font-style: italic

.cPrincipal
	background: url('../img/bg-textura.png')
	background-repeat: repeat

.acerca-de
	.contenedor
		overflow: visible
		position: relative
	.foto
		width: 80%
		position: absolute
		left: 0
		top: -50px
		z-index: 0
		box-shadow: 0px 0px 15px rgba(0,0,0,0.3)
		img
			vertical-align: top
			width: 100%
	article
		background: white
		padding: 40px
		width: 50%
		position: relative
		top: 500px
		z-index: 1
		float: right
		box-shadow: 0px 0px 15px rgba(0,0,0,0.3)
		h3
			font-size: 3em
			font-weight: 300
			margin-bottom: 40px
		p
			line-height: 28px
			margin-bottom: 10px

.laCarta
	padding-top: 540px
	margin-bottom: 80px
	.titulo
		margin-top: 30px
	.centroCarta
		display: flex
		flex-wrap: wrap
		justify-content: space-around
	article
		padding: 20px
	.categoria
		font-size: 1.5em
		font-weight: 700
		text-align: center
		margin-bottom: 40px
	.producto
		margin-bottom: 40px
		padding-bottom: 20px
		border-bottom: 4px dotted black
	.nombre
		font-size: 1.3em
		margin-bottom: 15px
		float: left
	.precio
		font-size: 1.3em
		margin-bottom: 15px
		float: right
	.descripcion
		font-size: 1em
		clear: both

.laCarta .contenedor-borde1,
.laCarta .contenedor-borde2
	border: 1px solid black
	background: transparent
	padding: 15px
	overflow: hidden

.popPup
	position: fixed
	width: 100%
	height: 100vh
	background: rgba(44, 62, 80, 0.6)
	z-index: 2
	text-align: center
	display: none
	img
		position: relative
		margin: 15vh auto
		width: 60%
		border: 5px solid white
	.cerrar
		position: absolute
		right: 20%
		top: 15vh
		color: white
		background: #f56c5e
		width: 30px
		height: 30px
		line-height: 30px
		text-align: center
		font-family: Arial
		cursor: pointer
		z-index: 1
		
#galeria
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3)
	background: white
	.titulo
		padding-top: 30px

.galeria
	display: flex
	flex-wrap: wrap
	background: rgb(73, 49, 22)
	.foto
		width: 25%
		opacity: 0.5
		transition: ease-in-out 0.3s
		cursor: pointer
	.foto:hover
		opacity: 1

.galeria .foto img
	width: 100%
	vertical-align: middle

#ubicacion
	background: white
	padding-top: 30px

.ubicacion
	display: flex
	justify-content: space-around
	align-items: center
	margin-bottom: 60px
	flex-wrap: wrap
	.horarios h4
		text-align: center
	.horarios div
		display: flex
		align-items: center
		justify-content: space-around
		flex-wrap: wrap

.ubicacion .horarios div p
	padding: 20px
	text-align: left

.calle
	font-style: italic

.mapa
	width: 100%
	background: white
	iframe
		width: 100%
		max-height: 600px
		pointer-events: none

footer
	background: white

.contacto
	padding: 30px 0
	.formulario
		display: flex
		flex-wrap: wrap
		justify-content: space-between

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"],
.contacto .formulario textarea
	border: 3px solid #cecece
	border-radius: 5px
	padding: 15px 20px
	color: black
	outline: 0
	transition: ease-in-out 0.2s

.contacto .formulario input[type="text"]:focus,
.contacto .formulario input[type="email"]:focus,
.contacto .formulario textarea:focus
	border: 3px solid rgb(165, 116, 61)

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"]
	width: 49%
	margin-bottom: 15px

.contacto .formulario textarea
	width: 100%
	min-width: 100%
	max-width: 100%
	height: 100px
	min-height: 100px
	max-height: 300px
	margin-bottom: 15px

.contacto .formulario .boton
	background: rgb(165, 116, 61)
	color: white
	border: none
	border-radius: 5px
	padding: 15px 40px
	cursor: pointer
	font-size: 1.2em
	transition: ease-in-out 0.2s
	margin: auto

.contacto .formulario .boton:hover
	background: rgb(121, 79, 31)

.copy
	text-align: center
	padding: 25px 0
	color: white
	background: black
	p span
		font-weight: bold
		color: rgb(220, 161, 95)

.arriba
	position: fixed
	width: 40px
	height: 40px
	background: url('../img/up.png')
	background-size: cover
	background-repeat: no-repeat
	cursor: pointer
	right: 20px
	bottom: 20px
	display: none

@media screen and (min-width: 1024px)
	.laCarta
		padding-top: 430px

@media screen and (max-width: 832px)
	header 
		.contenedor
			position: static
			height: auto
		.menu
			text-align: center
			justify-content: space-around
			width: 100%
			a
				margin: 10px 20px
		.textos
			position: static
			margin: 100px 0
			.nombre
				font-size: 1.8em
			h3
				font-size: 1.2em

	.acerca-de .foto
		position: relative
		width: 100%

	.acerca-de article
		position: relative
		width: 100%
		top: -50px
		transform: translate(0px, 0)

	.laCarta
		padding-top: 300px

	.laCarta .centroCarta
		display: block

	.galeria .foto
		width: 50%

	.popPup img
		width: 90%
		margin: 20vh 0

	.popPup .cerrar
		right: 5%
		top: 20vh

	.mapa
		width: 80%
		margin: auto

@media screen and (max-width: 468px)
	.btnMenu
		position: absolute
		top: 40px
		left: 40px
		cursor: pointer
		z-index: 20

	.btnMenu ul li
		width: 30px
		height: 5px
		margin-bottom: 5px
		background: white

	header .menu
		text-align: center
		justify-content: center
		flex-direction: column
		position: absolute
		z-index: 10
		background: #a5743d
		width: 100%
		display: none

	header .menu a
		display: block
		border: 2px solid transparent

	header .menu a:hover
		background: rgba(255, 255, 255, 0.2)
		border: 2px solid transparent

	.acerca-de article h3
		font-size: 2em
		margin-bottom: 10px

	.laCarta article .nombre,
	.laCarta article .precio
		font-size: 1em
		line-height: 16px

	.popPup img
		width: 100%
		margin: 30vh 0

	.popPup .cerrar
		right: 0
		top: 30vh

	.ubicacion
		text-align: center

	.ubicacion .direccion
		margin-bottom: 30px

	.ubicacion .horarios div p
		text-align: center

	.contacto .formulario input[type="text"],
	.contacto .formulario input[type="email"]
		width: 100%

	.contacto .formulario .boton
		width: 100%
